<article class='container'>
    <section class='pt-5'>
        <h3 class='title is-size-3'>Edit Project</h3>
        <hr />
        <form id='editForm'>
            <div class='field'>
                <label for='projectName' class='label'>Project Name</label>
                <input
                    class='input'
                    type='text'
                    name='projectName'
                    id='projectName'
                    placeholder='Enter Project Name...'
                    value='{{name}}'
                    required
                />
            </div>
            <div class='field'>
                <label for='projectDetails' class='label'>Details</label>
                <p class='control'>
                    <textarea
                        class='textarea'
                        name='projectDetails'
                        id='projectDetails'
                        placeholder="What's the project for/about?"
                        required
                    >{{details}}</textarea>
                </p>
            </div>
            <div class='columns'>
                <div class='column'>
                    <div class='field'>
                        <label for='projectGoal' class='label'>Funding Goal</label>
                        <span class='input'>$
                            <input
                                class='input'
                                type='number'
                                name='projectGoal'
                                id='projectGoal'
                                placeholder="What's the funding goal?"
                                value={{goal}}
                                required
                            />
                        </span>
                    </div>
                    <div class='field'>
                        <label
                            for='projectDeadline'
                            class='label'
                        >Deadline</label>
                        <input
                            class='input'
                            type='date'
                            name='projectDeadline'
                            id='projectDeadline'
                            placeholder='What deadline would you like to set?'
                            value={{deadline}}
                            required
                        />
                    </div>
                </div>
                <div class='column'>
                    <div class='field'>
                        <label for='rewardDescription' class='label'>Reward
                            Description</label>
                        <p class='control'>
                            <textarea
                                class='textarea'
                                name='rewardDescription'
                                id='rewardDescription'
                                placeholder="What's the reward?"
                            >{{rewards.0.description}}</textarea>
                        </p>
                    </div>
                    <div class='field is-horizontal'>
                        <div class='field-label is-normal'>
                            <label for='rewardTier' class='label'>Reward Tier</label>
                        </div>
                        <div class='field-body'>
                            <div class='field'>
                                <p class='control'>
                                    <span class='select'>
                                        <select
                                            name='rewardTier'
                                            id='rewardTier'
                                            placeholder='Select Tier...'
                                            value='{{rewards.0.tier}}'
                                        >
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='field'>
                <div class='control'>
                    <button class='button' id='edit' type='submit'>Save Edit</button>
                </div>
            </div>
            <div class='notification is-info is-light hide' id='projectEdited'>
                <p class='has-text-weight-bold'>Project Edited!</p>
                <p>Returning home...</p>
            </div>
            <input id='id' class='hide' value={{id}} />
        </form>
    </section>
</article>

<script src='/js/edit.js'></script>